<div class="mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
  <h2 class="text-2xl font-bold tracking-tight text-gray-900">{{ section.settings.title }}</h2>
  <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
    {% for product in section.settings.featured_collection.products limit: section.settings.number_of_products_to_show %}
      {% render 'product-card'
        , product_product: product %}
    {% else %}
      {% for item in (1..4) %}
        {% render 'product-card-placeholder' %}
      {% endfor %}
    {% endfor %}
  </div>
</div>


{% schema %}
  {
    "name": "Featured Collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Featured Collection",
        "label": "Title"
      }, {
        "type": "collection",
        "id": "featured_collection",
        "label": "Collection"
      }, {
        "type": "range",
        "id": "number_of_products_to_show",
        "min": 4,
        "max": 12,
        "default": 4,
        "label": "Number of products to show"
      }
    ],
    "presets": [
      {
        "name": "Featured Collection"
      }
    ]
  }
{% endschema %}